@model SocialNetwork.ModelDTOs.ViewModelDTOs.ManageNetworkViewDTO

@section Styles {
    <link href="~/css/Network/network.css" rel="stylesheet" />
}

<div class="friend-requests-container">
    <div class="fr-text">
        Friend Requests
    </div>
    <div class="fr-table">
        <table class="table">
            <tbody>
                @foreach (var friendRequest in Model.FriendRequests)
                {
                    <tr>
                        <td>
                            <img src="data:image/*; base64, @Convert.ToBase64String(friendRequest.FromUser.ProfilePicture)" class="profile-img"
                                 alt="">
                        </td>
                        <td>@friendRequest.FromUser.FirstName @friendRequest.FromUser.LastName</td>
                        <td>
                            <div class="accept-button">Accept</div>
                        </td>
                        <td>
                            <div class="decline-button">Decline</div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="friends-list-container">
        <div class="fr-text">
            Friends List
        </div>
        <div class="friends-display-list">
            <div class="friends-card">
                <div class="card-image-container">
                    <img class="card-image"
                         src="https://scontent.fskp1-1.fna.fbcdn.net/v/t1.0-9/72855541_10210941506652624_4861907871039750144_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=u0k-gs_vzrIAX8EXi1v&_nc_ht=scontent.fskp1-1.fna&oh=72272e9be7bf97a51eebdfed244fe6de&oe=5FF05D9E"
                         alt="">
                </div>
                <div class="user-name-container">
                    <div class="username"> Kristina Bojchevska</div>
                </div>
                <div class="profile-navigator-container">
                    <div class="see-profile-button"> See Profile</div>
                </div>
            </div>
        </div>
    </div>
</div>