@model SocialNetwork.ModelDTOs.UserDTOs.EditUserDTO

@{
    ViewData["Title"] = "Edit";
}

@section Styles {
    <link href="~/css/Shared/navbar.css" rel="stylesheet" />
    <link href="~/css/User/editprofile.css" rel="stylesheet" />
}


<div class="wrapper">
    <form class="formContent" asp-controller="User" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="inputs-container">
            <label class="label" for="firstName"> First Name</label>
            <input asp-for="@Model.FirstName" class="textInput" type="text" id="firstName">
        </div>

        <div class="inputs-container">
            <label class="label" for="lastName">Last Name</label>
            <input asp-for="@Model.LastName" class="textInput" type="text" id="lastName">
        </div>

        <div class="inputs-container">
            <label class="label" for="profilePhoto">Profile Photo</label>
            <input asp-for="@Model.ProfilePhoto" type="file">
        </div>

        <div class="inputs-container">
            <input class="submitButton" type="submit" value="Submit">
        </div>
        <div asp-validation-summary="ModelOnly"></div>
    </form>

    <form class="formContent">
        <div class="inputs-container">
            <label class="label" for="oldPassword"> Old Password</label>
            <input class="textInput" type="text" id="oldPassword">
        </div>

        <div class="inputs-container">
            <label class="label" for="newPassword"> New Password</label>
            <input class="textInput" type="text" id="newPassword">
        </div>
        <div class="inputs-container">
            <label class="label" for="confirmPass"> Confirm New Password</label>
            <input class="textInput" type="text" id="confirmPass">
        </div>

        <div class="inputs-container">
            <input class="submitButton" type="submit" value="Change">
        </div>
    </form>

</div>