
<div class="left-bar-fixed">
    <div class="left-bar">
        <div class="options-wrapper">
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/memories.jpg" alt="options-image" class="options-img">
                </div>
                <div class="options-text">
                    Memories
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/events.svg"
                         class="options-img" alt="events-icon">
                </div>
                <div class="options-text">
                    Events
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/jobs.svg"
                         class="options-img" alt="jobs-icon">
                </div>
                <div class="options-text">
                    Jobs
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/favorites.svg"
                         class="options-img" alt="favorites-icon">
                </div>
                <div class="options-text">
                    Favorites
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/pages.svg"
                         class="options-img" alt="pages-icon">
                </div>
                <div class="options-text">
                    Pages
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/weather.jpg"
                         class="options-img" alt="weather-icon">
                </div>
                <div class="options-text">
                    Weather
                </div>
            </div>
        </div>
    </div>
</div>
