@model SocialNetwork.ModelDTOs.PostDTOs.ViewPostDTO
@inject UserManager<User> userManager

@{
    ViewData["Title"] = "Overview";
}

@section Styles {
    <link href="~/css/Home/homepage.css" rel="stylesheet" />
}

@{
    User sessionUser = await userManager.GetUserAsync(User);
}

<partial name="_LeftBarPartial">

    <div class="middle-bar">
        <partial name="_ViewPostPartial" model="Model">
    </div>
   