@model SocialNetwork.UserDTOs.HomepageUserDTO


@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/Home/homepage.css" rel="stylesheet" />
}


<div class="left-bar-fixed">
    <div class="left-bar">
        <div class="options-wrapper">
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/memories.jpg" alt="options-image" class="options-img">
                </div>
                <div class="options-text">
                    Memories
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/events.svg"
                         class="options-img" alt="events-icon">
                </div>
                <div class="options-text">
                    Events
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/jobs.svg"
                         class="options-img" alt="jobs-icon">
                </div>
                <div class="options-text">
                    Jobs
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/favorites.svg"
                         class="options-img" alt="favorites-icon">
                </div>
                <div class="options-text">
                    Favorites
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/pages.svg"
                         class="options-img" alt="pages-icon">
                </div>
                <div class="options-text">
                    Pages
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/weather.jpg"
                         class="options-img" alt="weather-icon">
                </div>
                <div class="options-text">
                    Weather
                </div>
            </div>
        </div>
    </div>
</div>



<div class="middle-bar">

    <div class="content-box">
        <div class="demo-class">
            <div class="post-username-image">
                <div class="profile-image-container post-class">
                    <img class="profile-image"
                         src="data:image/*; base64, @Model.ProfilePhoto" alt="">
                </div>
            </div>
            <div class="post-something-container">
                <form class="post-something-box">
                    <input type="text" class="post-input" placeholder="What's on your mind, @Model.FirstName?">
                </form>
            </div>
        </div>
        <div class="second-demo-class">
            <div class="add-image-container">
                <img src="https://www.flaticon.com/premium-icon/icons/svg/3032/3032276.svg" class="add-image-icon" alt="">
            </div>
            <div class="add-image-text">
                Add Image
            </div>
        </div>
    </div>

</div>

<div class="right-bar">
    <div class="popup-none" id="popup">
        <div class="popup-item">
            Edit Profile
        </div>
        <div class="popup-item">
            Settings
        </div>
        <a class="links" asp-controller="Auth" asp-action="Logout">
            <div class="popup-item">
                Log Out
            </div>
        </a>

    </div>
</div>


@section Scripts {
    <script src="~/js/toggle.js"></script>
}