@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/Home/homepage.css" rel="stylesheet" />
}


<div class="left-bar-fixed">
    <div class="left-bar">
        <div class="options-wrapper">
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/memories.jpg" alt="options-image" class="options-img">
                </div>
                <div class="options-text">
                    Memories
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/events.svg"
                         class="options-img" alt="events-icon">
                </div>
                <div class="options-text">
                    Events
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/jobs.svg"
                         class="options-img" alt="jobs-icon">
                </div>
                <div class="options-text">
                    Jobs
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/favorites.svg"
                         class="options-img" alt="favorites-icon">
                </div>
                <div class="options-text">
                    Favorites
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/pages.svg"
                         class="options-img" alt="pages-icon">
                </div>
                <div class="options-text">
                    Pages
                </div>
            </div>
            <div class="options-container">
                <div class="options-image">
                    <img src="~/images/left-bar-fixed/weather.jpg"
                         class="options-img" alt="weather-icon">
                </div>
                <div class="options-text">
                    Weather
                </div>
            </div>
        </div>
    </div>
</div>



<div class="middle-bar">

    <div class="content-box">
        <div class="demo-class">
            <div class="post-username-image">
                <div class="profile-image-container post-class">
                    <img class="profile-image"
                         src="https://gaimer.net/wp-content/uploads/2020/05/valkyrae-alone-pose-e1590397862777.jpg" alt="">
                </div>
            </div>
            <div class="post-something-container">
                <form class="post-something-box">
                    <input type="text" class="post-input" placeholder="What's on your mind, Kristina?">
                </form>
            </div>
        </div>
        <div class="second-demo-class">
            <div class="add-image-container">
                <img src="https://www.flaticon.com/premium-icon/icons/svg/3032/3032276.svg" class="add-image-icon" alt="">
            </div>
            <div class="add-image-text">
                Add Image
            </div>
        </div>
    </div>




    <div class="content-box">
        <div class="post-username-container">
            <div class="post-username-image">
                <div class="profile-image-container">
                    <img class="profile-image"
                         src="https://gaimer.net/wp-content/uploads/2020/05/valkyrae-alone-pose-e1590397862777.jpg" alt="">
                </div>
            </div>
            <div class="post-profile-name-container">
                Kristina Bojchevska
            </div>
        </div>

        <div class="post-text-container">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        </div>
        <div class="post-media-container">
            <img class="post-image" src="https://www.aljazeera.com/wp-content/uploads/2020/04/ecab8c7af42a439d9043b0ade6e1f05b_18.jpeg?fit=999%2C562" alt="post-image">
        </div>
        <div class="post-comment-section">
            <div class="like-section">
                <i class="far fa-thumbs-up fa-lg"></i>
                Like
            </div>
            <div class="comment-section">
                <i class="far fa-comment fa-lg"></i>
                Comment
            </div>
            <div class="share-section">
                <i class="fas fa-share fa-lg"></i>
                Share
            </div>
        </div>
        <div class="add-comments">
            <div class="post-username-image comment-image">
                <div class="profile-image-container">
                    <img class="profile-image"
                         src="https://gaimer.net/wp-content/uploads/2020/05/valkyrae-alone-pose-e1590397862777.jpg" alt="">
                </div>
            </div>
            <div class="comments-box-container">
                <form class="comments-box">
                    <input type="text" class="comment-input" placeholder="Add Comment..">
                </form>
            </div>
        </div>
    </div>


    <div class="content-box">
        <div class="post-username-container">
            <div class="post-username-image">
                <div class="profile-image-container">
                    <img class="profile-image"
                         src="https://scontent.fskp1-1.fna.fbcdn.net/v/t1.0-9/84142453_10156888415043616_1446416540000845824_o.jpg?_nc_cat=110&ccb=2&_nc_sid=09cbfe&_nc_ohc=uvvNNTm2nxkAX_9UwyP&_nc_ht=scontent.fskp1-1.fna&oh=cd227a42a8aec2a8ef709844350bbf99&oe=5FD078B6" alt="">
                </div>
            </div>
            <div class="post-profile-name-container">
                Viktorija Petreska
            </div>
        </div>

        <div class="post-text-container">
            Lorem ipsum dolor sit amet,

        </div>
        <div class="post-media-container">
            <img class="post-image" src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&rect=37%2C29%2C4955%2C3293&q=45&auto=format&w=926&fit=clip" alt="post-image">
        </div>
        <div class="post-comment-section">
            <div class="like-section">
                <i class="far fa-thumbs-up fa-lg"></i>
                Like
            </div>
            <div class="comment-section">
                <i class="far fa-comment fa-lg"></i>
                Comment
            </div>
            <div class="share-section">
                <i class="fas fa-share fa-lg"></i>
                Share
            </div>
        </div>
        <div class="add-comments">
            <div class="post-username-image comment-image">
                <div class="profile-image-container">
                    <img class="profile-image"
                         src="https://gaimer.net/wp-content/uploads/2020/05/valkyrae-alone-pose-e1590397862777.jpg" alt="">
                </div>
            </div>
            <div class="comments-box-container">
                <form class="comments-box">
                    <input type="text" class="comment-input" placeholder="Add Comment..">
                </form>
            </div>
        </div>
    </div>


    <div class="content-box">
        <div class="post-username-container">
            <div class="post-username-image">
                <div class="profile-image-container">
                    <img class="profile-image"
                         src="https://scontent.fskp1-1.fna.fbcdn.net/v/t1.0-9/84142453_10156888415043616_1446416540000845824_o.jpg?_nc_cat=110&ccb=2&_nc_sid=09cbfe&_nc_ohc=uvvNNTm2nxkAX_9UwyP&_nc_ht=scontent.fskp1-1.fna&oh=cd227a42a8aec2a8ef709844350bbf99&oe=5FD078B6" alt="">
                </div>
            </div>
            <div class="post-profile-name-container">
                Viktorija Petreska
            </div>
        </div>

        <div class="post-text-container">
            Lorem ipsum dolor sit amet,  Lorem ipsum dolor sit amet,                         Lorem ipsum dolor sit amet,
            Lorem ipsum dolor sit amet,
            Lorem ipsum dolor sit amet,
            Lorem ipsum dolor sit amet,
            Lorem ipsum dolor sit amet,



        </div>
        <div class="post-media-container">
        </div>
        <div class="post-comment-section">
            <div class="like-section">
                <i class="far fa-thumbs-up fa-lg"></i>
                Like
            </div>
            <div class="comment-section">
                <i class="far fa-comment fa-lg"></i>
                Comment
            </div>
            <div class="share-section">
                <i class="fas fa-share fa-lg"></i>
                Share
            </div>
        </div>
        <div class="add-comments">
            <div class="post-username-image comment-image">
                <div class="profile-image-container">
                    <img class="profile-image"
                         src="https://gaimer.net/wp-content/uploads/2020/05/valkyrae-alone-pose-e1590397862777.jpg" alt="">
                </div>
            </div>
            <div class="comments-box-container">
                <form class="comments-box">
                    <input type="text" class="comment-input" placeholder="Add Comment..">
                </form>
            </div>
        </div>
    </div>


</div>



<div class="right-bar">

</div>