@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    box-sizing: border-box;
  }
  

html {
    background-color: rgb(247, 245, 245);


}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #080bad;
  display:inline-block;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}


.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

h2.active {
  color: #0d0d0d;
  margin-bottom: 5%;
  margin-top: 7%;
}


 .submitButton  {
  background-color: #1f1a1ada	;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 00a08f(95,186,233,0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 25px 20px 30px 20px;
}


.textInput {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

#icon {
  width:45%;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 2px 0px 40px 2px rgba(0,0,0,0.3);

}

